# ABAIKAN SEMUA FILE DAN FOLDER SECARA DEFAULT
*

# IZINKAN (KECUALIKAN DARI PENGABAIAN) FILE YANG DIBUTUHKAN

# File inti proyek yang harus dipertahankan
!/pubspec.yaml
!/pubspec.lock
!/analysis_options.yaml

# Folder kode utama
!/lib/**

# File konfigurasi Git/Readme
!/README.md
!.gitignore

# KECUALIKAN SECARA EKSPLISIT (UNTUK MENGHINDARI KONFLIK)
# File/folder yang mungkin tersembunyi atau sudah ada di daftar 'abaikan semua'
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.vs/
.vscode/
build/
android/
ios/
linux/
macos/
web/
windows/